/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Başlık */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Ana İçerik */
  main {
    padding: 2rem;
  }
  
  .posts {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  article {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  article img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  article h3 {
    margin-top: 1rem;
  }
  
  article h3 a {
    text-decoration: none;
    color: #333;
  }
  
  article h3 a:hover {
    color: #007BFF;
  }
  
  article p {
    color: #666;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  